<div style="<mt:var name="style">">
<iframe width="<mt:var name="width">" height="<mt:var name="height">" src="http://www.youtube.com/embed/<mt:AssetProperty property="youtube_video_id">?rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen></iframe>
</div>
